*{
    text-decoration: none;
    text-underline-position: none;
}
html,body{

    margin:0px;
    
    height:100%;
    
    }
.celeste{
/*background-color: #229954  */
background: url("../img/PUZZLE.jpg") no-repeat center top;
background-size: cover;
 height: 105vh;
 display: flex;
 align-items: center;
 justify-content: flex-end;
 color: #424242;
 font-family: 'Francois One', sans-serif;
 text-transform: uppercase;
 font-size: 2rem;
}

.amarillo{
    background-color:  #FBFCFC;
    height: 103vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.labels{
    color: #0167B3;
    padding-bottom: 5px;
}


.btn{
    border-radius: 50px;
    margin-top: 15px;
}
.profile-img-card{
    padding-bottom: 1px;
}