body {
    overflow-x: hidden;
}

#custom-bootstrap-menu.navbar-default .navbar-brand {
    color: rgba(66, 66, 66, 1);
}

#custom-bootstrap-menu.navbar-default {
    font-size: 15px;
    background-color: rgba(255, 255, 255, 1);
    border-bottom-width: 1px;
    height: 80px;
    line-height: 70px;
}

#custom-bootstrap-menu.navbar-default .navbar-nav>li>a {
    color: rgba(66, 66, 66, 1);
    background-color: rgb(255, 255, 255);
    line-height: 48px;
}

#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:focus {
    color: rgba(250, 250, 250, 1);
    background-color: rgba(51, 51, 51, 1);
}

#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:focus {
    color: rgba(250, 250, 250, 1);
    background-color: rgba(52, 152, 219, 1);
}

#custom-bootstrap-menu.navbar-default .navbar-toggle {
    border-color: #BDC3C7;
}

#custom-bootstrap-menu.navbar-default .navbar-toggle:hover,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus {
    background-color: #3498db;
}

#custom-bootstrap-menu.navbar-default .navbar-toggle .icon-bar {
    background-color: #3498db;
}

#custom-bootstrap-menu.navbar-default .navbar-toggle:hover .icon-bar,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #34495E;
}

.carousel-inner>.item>a>img,
.carousel-inner>.item>img,
.img-responsive,
.thumbnail a>img,
.thumbnail>img {
    margin-top: 50px;
}

.resumen {
    margin: 50px 0px;
}

.cuadro p {
    padding: 10px 15px;
}

footer {
    color: white;
    bottom: 0px;
    width: 100%;
    background-color: #34495E;
    padding: 15px;
}